parameters:
    ignoreErrors:
        -
               message: "#Call to an undefined method Softspring\\\\TwigExtraBundle\\\\Twig\\\\ExtensibleAppVariable::setTestField\\(\\)\\.#"
               count: 1
               path: tests/Twig/ExtensibleAppVariableTest.php
        -
               message: "#Call to an undefined method Softspring\\\\TwigExtraBundle\\\\Twig\\\\ExtensibleAppVariable::getTestField\\(\\)\\.#"
               count: 1
               path: tests/Twig/ExtensibleAppVariableTest.php