includes:
	- phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src/
        - tests/
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:
        -
            message: '#Function twig_date_format_filter not found.#'
            reportUnmatched: false